body{
  background:#0f172a;
  font-family:Arial;
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
}

.card{
  background:#020617;
  color:white;
  padding:20px;
  border-radius:12px;
  width:220px;
  text-align:center;
  box-shadow:0 10px 25px rgba(0,0,0,0.5);
}

img{
  width:100px;
  height:100px;
  border-radius:50%;
  margin-bottom:10px;
}

button{
  margin-top:10px;
  padding:8px 16px;
  border:none;
  border-radius:20px;
  background:#22c55e;
  color:#022c22;
  cursor:pointer;
}
